<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <div class="text-center mb-3">
        <h1 class="font-bold mb-4">プライバシーポリシー</h1>
      </div>
      <p>FlowerMap（以下、「当方」といいます。）は、</p>
      <p>本ウェブサイト上で提供するサービスにおける、</p>
      <p>ユーザーの個人情報の取扱いについて、以下のとおり</p>
      <p>プライバシーポリシーを定めます。</p>

      <div class="my-4">
        <h2 class="font-bold">お客様から取得する情報</h2>
        <div>
          <p>当方は、お客様から以下の情報を取得します。</p>
          <li>氏名(ニックネームやペンネームも含む)</li>
          <li>メールアドレス</li>
          <li>住所(花の位置)</li>
          <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
          <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
          <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
          <li>当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</li>
        </div>
      </div>
      <div class="my-4">
        <h2 class="font-bold">安全管理のために講じた措置</h2>
        <div>
          <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
        </div>
      </div>
      <div class="my-4">
        <h2 class="font-bold">第三者提供</h2>
        <div>
          <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。 但し、次の場合は除きます。</p>
          <li>個人データの取扱いを外部に委託する場合</li>
          <li>当方や当方サービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
          <li>その他、法律によって合法的に第三者提供が許されている場合</li>
        </div>
      </div>
      <div class="my-4">
        <h2 class="font-bold">アクセス解析ツール</h2>
        <div>
          <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
          <a href='https://marketingplatform.google.com/about/analytics/terms/jp/' class='btn btn-success my-3'>Google Marketing Platformへ</a>
        </div>
      </div>
      <div class="my-4">
        <h2 class="font-bold">プライバシーポリシーの変更</h2>
        <div>
          <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。 但し、次の場合は除きます。</p>
        </div>
      </div>
      <div class="my-4">
        <h2 class="font-bold">お問い合わせ</h2>
        <div>
          <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、管理者Twitterアカウントまでお願いいたします。</p>
          <p class="mt-5">以上</p>
        </div>
      </div>
    </div>
  </div>
</div>
