<div class="hero min-h-screen" style="background-image: url('assets/flower-photograph.jpg');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 sm:text-4xl text-2xl font-serif font-bold"><%= t '.theme' %></h1>
      <p class="font-serif"><%= t '.description' %></p>
      <p class="font-serif"><%= t '.description2' %></p>
      <% if !logged_in? %>
        <%= link_to (t 'defaults.login'), login_path, class: "btn btn-primary font-bold mt-4"%>
      <% end %>
    </div>
  </div>
</div>
