<div class="hero min-h-screen" style="background-image: url('http://localhost:3000/assets/flower-photograph-ef0885abc9a1ff1f9417e8329634e7131ae47cd042f47a455c9d02e41b8e3b20.jpg');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-medium">あなたの見つけた花共有しませんか？</h1>
      <button class="bg-green-600 hover:bg-green-800 text-white font-medium py-2 px-4 rounded", login_path>ログインする</button>
    </div>
  </div>
</div>
