<div class="flex justify-center m-4">
  <%= link_to unknown_flower_path(unknown_flower) do %>
    <div class="card bg-base-100 shadow-xl image-full">
      <figure><%= image_tag unknown_flower.image_url, class: "rounded-xl" %></figure>
      <div class="card-body flex justify-center">
        <p class="text-2xl font-serif sm:w-80 w-72 break-all"><%= t 'defaults.feature' %></p>
        <p class="text-base font-serif sm:w-80 w-72 break-all"><%= unknown_flower.feature %></p>
      </div>
    </div>
  <% end %>
</div>
