<div class="flex justify-center m-4">
  <%= link_to '#' do %>
    <div class="card bg-base-100 shadow-xl image-full">
      <figure><%= image_tag unknown_flower.image_url, class: "rounded-xl" %></figure>
      <div class="card-body">
        <h2 class="text-3xl font-serif"><%= unknown_flower.feature %></h2>
      </div>
    </div>
  <% end %>
</div>
