<% if current_user.own?(unknown_flower) %>
  <%= turbo_frame_tag dom_id(unknown_flower, :reception_unknown_flower) do %>
    <%= button_to (t 'defaults.awaiting_reply'), reception_path(current_user.receptions.find_by(unknown_flower_id: unknown_flower.id)), class: "badge badge-success", id: "js-unknown_flower_reception-button-for-unknown_flower-#{unknown_flower.id}", data: { turbo_method: :delete } %>
  <% end %>
<% else %>
  <div class="badge badge-success"><%= t 'defaults.awaiting_reply' %></div>
<% end %>
