<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <%= image_tag @unknown_flower.image_url, class: "rounded-xl sm:w-96 sm:h-96 w-72 h-72 mt-3" %>
      <label class="label font-serif font-bold sm:w-96 w-72 mt-3"><%= t '.feature' %></label>
      <p class="sm:w-96 w-72 break-all"><%= @unknown_flower.feature %></p>
      </div>
    </div>
  </div>
</div>
