<div class="card sm:w-96 w-72 bg-base-100 shadow-xl">
  <div class="card-body">
    <h1 class="card-title font-serif"><%= t 'defaults.comment_index' %></h2>
    <%= render @comments %>
  </div>
</div>
