<label for="my-modal-3" class="btn btn-primary"><%= t 'defaults.comment' %></label>
<input type="checkbox" id="my-modal-3" class="modal-toggle w-72" />
<div class="modal sm:pr-0 pr-24">
  <div class="modal-box relative w-72">
    <label for="my-modal-3" class="btn btn-sm btn-circle btn-outline absolute right-2 top-2">✕</label>
      <%= form_with model: @comment, url: [@flower, @comment], local: true, class: 'flex' do |f| %>
        <%= f.text_area :body, class: 'textarea textarea-bordered', placeholder: (t 'defaults.placeholder_comment') %>
        <%= f.submit (t 'defaults.post_comment'), class: 'btn btn-sm mt-11 ml-1' %>
      <% end %>
    </div>
  </div>
</div>
