<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to '#', id: "button-edit-#{flower.id}" do %>
      <%= image_tag 'pen.png', size: '32x32' %>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to '#', id: "button-delete-#{flower.id}" do %>
      <%= image_tag 'trash.png', size: '32x32' %>
    <% end %>
  </li>
</ul>
