<ul class='flex justify-center p-4'>
  <li>
    <%= link_to edit_flower_path(flower), id: "button-edit-#{flower.id}" do %>
      <%= image_tag 'pen.png', size: '36x36' %>
    <% end %>
  </li>
  <li>
    <%= button_to flower_path(flower), id: "button-delete-#{flower.id}", method: :delete, data: { confirm: '削除完了しました' } do %>
      <%= image_tag 'trash.png', size: '36x36' %>
    <% end %>
  </li>
</ul>
