<div class="flower-content">
  <div id="flower-id-<%= flower.id %>">
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <figure>
        <%= image_tag flower.flower_image_url %>
      </figure>
      <div class="card-body">
        <h2 class="card-title"><%= flower.name %></h2>
        <p><%= flower.address %></p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">詳細</button>
        </div>
      </div>
    </div>
  </div>
</div>
