<div class="tooltip tooltip-bottom" data-tip=<%= t 'defaults.unfavorite' %>>
  <%= button_to favorite_path(current_user.favorites.find_by(flower_id: flower.id)), method: :delete do %>
    <%= image_tag 'clover.png', class: "w-7 h-7" %>
  <% end %>
</div>
