<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <h1 class="sm:text-4xl text-2xl font-serif font-bold p-10 text-center text-accent-focus"><%= t '.title' %></h1>
      <%= render 'form', { flower: @flower } %>
    </div>
  </div>
</div>
