<div class="bg-base-200">
  <div class="text-center">
    <h1 class="text-4xl text-center font-serif p-10 text-accent-focus"><%= t '.title' %></h1>
    <% if @flowers.present? %>
      <%= render @flowers %>
    <% else %>
      <p><%= t '.not_posted' %></p>
    <% end %>
    <div class="flex justify-center pl-16">
      <%= paginate @flowers, theme: 'flower' %>
    </div>
  </div>
</div>
