<div class="bg-base-200">
  <div class="text-center">
    <h1 class="text-3xl text-center font-bold p-10">投稿された花</h1>
    <% if @flowers.present? %>
      <%= render @flowers %>
    <% else %>
      <p><%= '投稿なし' %></p>
    <% end %>
    <div class="flex justify-center">
      <%= paginate @flowers, theme: 'flower' %>
    </div>
  </div>
</div>
