<li class="prev btn-group grid grid-cols-2">
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: "btn btn-outline btn-accent" %>
</li>
