<header class = "bg-green-600">
  <div class="navbar">
    <div class="flex-1">
      <%= link_to "Flower Map", root_path, class: "btn btn-ghost text-white" %>
    </div>
    <div class="flex-none m-1">
      <ul class="menu menu-horizontal p-0">
        <li class="text-gray-700">
          <%= link_to "ログイン", login_path , class: "text-sm text-white font-bold"%>
        </li>
      </ul>
    </div>
  </div>
</header>
