<%= paginator.render do %>
  <nav class="pagination m-5" role="navigation" aria-label="pager">
    <ul class="flex gap-1">
      <%= prev_page_tag unless current_page.first? %>
      <% unless current_page.out_of_range? %>
        <%= next_page_tag unless current_page.last? %>
      <% end %>
    </ul>
  </nav>
<% end %>
